@font-face {
    font-family: 'poppinsbold';
    src: url('fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsregular';
    src: url('fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

::backdrop{
    background-color: black;
    opacity: 0.75;
}

body{
    display:grid;
    grid-template-columns: 1fr 4fr;
    --color-menu: #006A71;
    --color-display: #48A6A7;
    --color-low-priority: #8dcd8d;
    --color-medium-priority: #FFF176;
    --color-high-priority: rgb(187, 137, 137);
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    font-family: 'poppinsregular';
}

.ul-tasks-display{
    padding:0;
    width: 80%;
}

.task-display{
    list-style: none;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
}

.task-display > div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.ul-tasks-display + button{
    margin-top: 30px;
    padding: 15px;
    font-weight: bold;
    border: 2px solid var(--color-menu);
}

ul{
    margin: 0;
}

li>p{
    margin: 0;
    padding: 10px;
}

h1{
    margin-bottom: 40px;
}

p{
    line-height:20px;
}

img{
    width: 20px;
}

#menu{
    display: flex;
    flex-direction: column;
    background-color: var(--color-menu);
    font-family: 'poppinsbold';
    color: white;
    font-size: 20px;
    padding: 40px 20px;
    align-items: start;
}

.addTask{
    padding: 10px;
    background-color: white;
    color: var(--color-menu);
    border-radius: 5px;
    border: 0
}

.addTask:hover{
    color: #178c94;
    border-color: #178c94;
    cursor: pointer;
}

.butt-menu{
    border:0;
    background-color: var(--color-menu);
    color: white;
    font-family: 'poppinsregular';
    padding: 15px 5px;
    text-align: left;
    outline: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.butt-menu:hover{
    cursor: pointer;
    text-decoration: underline;
}

#display{
    background-color: var(--color-display);
    color: white;
    padding: 50px 30px;
}

#project>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    justify-content: space-between;
}

#form-add-pro>div{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 8px;
}

#form-add-task{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 9fr 1fr;
    gap: 30px;
}

#btns-prio{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#btns-prio > div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    gap: 8px;
}

#btns-prio:nth-child(3){
    width: 100%;
    margin-bottom: 0;
}

#form-add-task label{
    margin-bottom: 10px;
}

#btns-prio label,
#btns-prio input{
    margin: 0;
}

#form-add-task > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#form-add-task > div:nth-child(2){
    justify-content: center;
    gap: 30px;
}

#form-add-task > div > div{
    display: flex;
    flex-direction: column;
}



#form-add-task > input[type="submit"]{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    justify-self: center;
}

input, textarea{
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--color-menu);
    border-color: white;
    outline: 0px;
    color: white; 
}

input{
    border-width: 0 0 1px 0;
    border-color: white;
}



input[type='submit']{
    background-color: var(--color-display);
    color: white;
    border-width: 0px;
    padding: 10px;
    border-radius: 5px;
}

input[type='submit']:hover{
    cursor: pointer;
    background-color: lightskyblue;
}

textarea{
    height: 100px;
    width: 250px;
}

dialog{
    border: 0px;
    background-color: var(--color-menu);
    color: white;
}